<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Available Players</h1>
    <% for(let i = 0; i < player.length; i++) { %>
        <% if(player[i].roster_id == null || player[i].roster_id == 0) { %>
            <%= player[i].name %> <%= player[i].position %> <%= player[i].team %><br>
            <form action="/rosters/addPlayer/<%=player[i].id%>?_method=PUT" method="POST">
                <input type="submit" value="Add Player" />
            </form>
        <% } %>
        
    <% } %>
</body>
</html>