<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>League Teams</h1>
    <% for(let i = 0; i < user.length; i++) { %>
        <%= user[i].name %> <a href=/rosters/league/<%= user[i].id %> ><%= user[i].teamName %></a><br>
    <% } %>
</body>
</html>